NODE_ENV=production
NEXT_PUBLIC_SITE_URL=https://onefiancalocaticia.com.br
ONE_BACKEND_URL=http://one-api:8000
SIMULATION_WEBHOOK_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec
SIMULATION_WEBHOOK_SECRET=gere-um-segredo-longo-e-aleatorio
